@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = (Home) Model.Root();
}

<div class="af-div">
    <div class="af-header">
        About Ford  
    </div>
    <div class="af-links">
        <a class="link-af" href="">Careers</a>
        <a class="link-af" href="">Newsroom</a>
        <a class="link-af" href="">About Ford</a>
    </div>
</div>
