@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = (Home) Model.Root();
}

<div class="eng-div">
    <div class="eng-header">
        Engineering  
    </div>
    <div class="eng-links">
        <a class="link-eng" href="">Engineering Index</a>
        <a class="link-eng" href="">EcoBoost</a>
        <a class="link-eng" href=""><p>SYNC <sup>TM</sup></p></a>
    </div>
</div>
