@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = (Home) Model.Root();
}

<div class="fleet-div">
    <div class="fleet-header">
        Fleet  
    </div>
    <div class="fleet-links">
        <a class="link-fleet" href="">Fleet</a>
        <a class="link-fleet" href="">Fleet Registration</a>
    </div>
</div>
