@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = (Home) Model.Root();
}

<div class="shop-div">
    <div class="shop-header">
        Shopping  
    </div>
    <div class="box-shop-links">
       <div class="shop-links-1">
            <a class="link-shop" href="">Build & Price</a>
            <a class="link-shop" href="">Vehicle Compare</a>
            <a class="link-shop" href="">Vehicle Price List</a>
            <a class="link-shop" href="">Offers & Promotions</a>
            <a class="link-shop" href="">Request a Test Drive</a>
            <a class="link-shop" href="">Request a Quote</a>
        </div>
        <div class="shop-links-1">
            <a class="link-shop" href="">Request a Brochure</a>
        </div> 
    </div>
</div>