@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = (Home) Model.Root();
    var selection = home.Children.Where(x => x.IsVisible());
}
<!-- comment out the following line if you want to remove the root node name from the top navigation -->
<!--<a class="nav-link Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="site.Url()">site.Name</a>-->

<script>
    $(document).ready(function(){
        $('.nav-Vehicles').click(function(){
            $('.nav-vehicles').css("color","#1b394e");
        })
    })
</script>

@foreach (var item in selection)
{
    @if(item.Name != "Main Links"){
        <a key="@item.Name" id ="nav-@item.Name" class="nav-link" onClick="showModal('@item.Name');">@item.Name</a>
    }
}
<div class="utility-links">
    <a id ="loc" class="nav-another-link" href="https://www.ford.com.ph/locate-a-dealer/">Locate a dealer</a>
    <a class="nav-another-link" href="https://www.ford.com.ph/download-brochure/">Download a Brochure</a>
    <a class="nav-another-link" href="https://www.ford.com.ph/#overlay/content/ford/ph/en_ph/site-wide-content/overlays/form-overlay/login.html">Log in</a>
    <a class="nav-another-link search-link" href="https://euw-va2.astuteknowledge.com/ford/PHPublic/"><img class="logo-search" src="@home.SearchLogo.Url()"/></a>
</div>
